.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-alert {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-bold-drop-arrow {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-chat {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-clock {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-close {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-comment {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-direction-arrow {
	font-size:(8/10)*1rem;
	width:(15/8)*1em;
}
.icon-dots {
	font-size:(6/10)*1rem;
	width:(20/6)*1em;
}
.icon-facebook {
	font-size:(30/10)*1rem;
	width:(14/30)*1em;
}
.icon-facebook-circle {
	font-size:(31/10)*1rem;
	width:(32/31)*1em;
}
.icon-heart {
	font-size:(20/10)*1rem;
	width:(22/20)*1em;
}
.icon-indicator-arrow {
	font-size:(10/10)*1rem;
	width:(9/10)*1em;
}
.icon-like {
	font-size:(28/10)*1rem;
	width:(30/28)*1em;
}
.icon-like-filled {
	font-size:(20/10)*1rem;
	width:(22/20)*1em;
}
.icon-logo {
	font-size:(93/10)*1rem;
	width:(128/93)*1em;
}
.icon-person {
	font-size:(36/10)*1rem;
	width:(15/36)*1em;
}
.icon-photo {
	font-size:(118/10)*1rem;
	width:(128/118)*1em;
}
.icon-play {
	font-size:(16/10)*1rem;
	width:(14/16)*1em;
}
.icon-portrait {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-refresh {
	font-size:(20/10)*1rem;
	width:(14/20)*1em;
}
.icon-reset {
	font-size:(17/10)*1rem;
	width:(20/17)*1em;
}
.icon-search {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-speedometer {
	font-size:(41/10)*1rem;
	width:(49/41)*1em;
}
.icon-thin-drop-arrow {
	font-size:(13/10)*1rem;
	width:(22/13)*1em;
}
.icon-twitter {
	font-size:(25/10)*1rem;
	width:(30/25)*1em;
}
.icon-twitter-circle {
	font-size:(30/10)*1rem;
	width:(33/30)*1em;
}
.icon-video {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-youtube {
	font-size:(30/10)*1rem;
	width:(32/30)*1em;
}
.icon-youtube-circle {
	font-size:(30/10)*1rem;
	width:(32/30)*1em;
}
